body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: inherit;
}
.button{
  height:80px;
  width: 80px;
  background-color: white;
  align-content: center;
  border-radius: 1px;
  border-color: black;
  border-width: 1px;
  font-size: 40px;


}
button:hover {
    background-color: lightgray;
}
.Cards{
  padding-left: 500px;
  padding-top: 50px;
  box-sizing: 500px;
  width: 75%;
  height: 75%;

}
.cards1,.cards2,.cards3{
  display: flex;
}
.h1{
  font-style: normal;
}
